<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Nest Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin/dashboard" class="brand-wrap">
                <img src="assets/imgs/theme/logo.svg" class="logo" alt="Nest Dashboard" />
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active ">
                    <a class="menu-link" href="/admin/dashboard">
                        <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/customers">
                        <i class="icon material-icons md-home"></i>
                        <span class="text">customers</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/Products">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/addProduct">Add Product </a>
                        <a href="/admin/editProduct">Edit Product </a>
                       
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/Category">
                        <i class="icon material-icons md-category"></i>
                        <span class="text">Category</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/addCategory">Add Category </a>
                        <a href="/admin/editCategory">Edit Category</a>
                       
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-orders-1.html">
                        <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/orders">Order list 1</a>
                        
                    </div>
                </li>
                
               
               
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#">
                        <i class="icon material-icons md-person"></i>
                        <span class="text">Account</span>
                    </a>
                    <div class="submenu">
                        <a href="page-account-login.html">User login</a>
                        <a href="page-account-register.html">User registration</a>
                        <a href="page-error-404.html">Error 404</a>
                    </div>
                </li>
                <!-- <li class="menu-item">
                    <a class="menu-link" href="page-reviews.html">
                        <i class="icon material-icons md-comment"></i>
                        <span class="text">Reviews</span>
                    </a>
                </li> -->
                
                <li class="menu-item">
                    <a class="menu-link" disabled href="#">
                        <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Statistics</span>
                    </a>
                </li>
            </ul>
            <hr />
            <ul class="menu-aside">
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#">
                        <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                    <div class="submenu">
                        <a href="page-settings-1.html">Setting sample 1</a>
                        <a href="page-settings-2.html">Setting sample 2</a>
                    </div>
                </li>
                <!-- <li class="menu-item">
                    <a class="menu-link" href="page-blank.html">
                        <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li> -->
            </ul>
            <br />
            <br />
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="assets/imgs/theme/flag-us.png" alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-fr.png" alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="assets/imgs/people/avatar-2.png" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main py-4">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-9">
                        <div class="content-header">
                            <h2 class="content-title">Add  Product</h2>
                        </div>
                    </div>
                    <div class="col-12 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <form action="/admin/addProduct" method="post" enctype="multipart/form-data"onsubmit= "return validateForm()">
                                    <div class="form-group">
                                        <label for="product_title">Product Name</label>
                                        <input type="text" class="form-control" id="product_title" name="name" placeholder="Type here">
                                    </div>
        
                                  
        
                                    <div class="form-group">
                                        <label for="price">Price</label>
                                        <input type="text" class="form-control" id="price" name="price" placeholder="Type here">
                                    </div>
        
                                    <div class="form-group">
                                        <label for="quantity">Quantity</label>
                                        <input type="number" class="form-control" id="quantity" name="quantity" placeholder="Type here">
                                    </div>
        
                                    <div class="form-group">
                                        <label for="product-category">Category</label>
                                        <select class="form-control" id="product-category" name="category">
                                            <% for (let i=0; i < categories.length; i++) { %>
                                                <option value="<%= categories[i]._id %>"><%= categories[i].name %></option>
                                            <% } %>
                                        </select>
                                    </div>
        
                                    <div class="form-group">
                                        <label for="description">Description</label>
                                        <textarea class="form-control" rows="4" id="description" name="description" placeholder="Type here"></textarea>
                                    </div>
        
                                    <div class="form-group">
                                        <label for="">Product Images</label>
                                        <div class="row">
                                            <% for(let i=1 ; i<=4;i++){ %>
                                                <div class="col-lg-6 col-md-6 mb-3 rounded-image-preview">
                                                    <label for="imageInput<%= i %>" class="image-label">Image <%= i %>
                                                            <div class="rounded-image-preview">
                                                                <img id="imagePreview<%= i %>" alt="Preview"
                                                                    style="height: 150px; width: 150px;">
                                                            </div>
                                                            <input name="images" type="file" accept="image/*"
                                                                id="imageInput<%= i %>" class="imageInput"
                                                                onchange="previewImage(this, 'imagePreview<%= i %>')">
                                                    </label>
                                                   
                                                   
                                                </div>
                                                <%}%>
                                        </div>
                                    
        
                                    <div class="form-group mt-3">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <a href="/admin/Products" class="btn btn-primary">
                                            <span class="text">Back</span>
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> &copy; Nest - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendors/select2.min.js"></script>
    <script src="assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="assets/js/main.js?v=1.1" type="text/javascript"></script>
  
   <script>
    function validateForm() {
    console.log("hlooo");

    var productName = document.getElementById('product_title').value;
    var price = parseFloat(document.getElementById('price').value);
    var quantity = parseInt(document.getElementById('quantity').value);
    var category = document.getElementById('product-category').value;
    var description = document.getElementById('description').value;

    // Array to store error messages and focusable elements
    var errors = [];

    if (productName === "") {
        errors.push("Please enter a product name.");
        document.getElementById('product_title').focus();
    }

    if (isNaN(price) || price <= 0) {
        errors.push("Please enter a valid positive price.");
        document.getElementById('price').focus();
    }

    if (isNaN(quantity) || quantity <= 0) {
        errors.push("Please enter a valid positive quantity.");
        document.getElementById('quantity').focus();
    }

    if (category === "") {
        errors.push("Please select a category.");
        document.getElementById('product-category').focus();
    }

    if (description === "") {
        errors.push("Please enter a product description.");
        document.getElementById('description').focus();
    }

    // Display error messages
    if (errors.length > 0) {
        alert(errors.join("\n"));
        return false;
    }

    return true;
}


       function previewImage(input, imageId) {
            const preview = document.getElementById(imageId);
            const file = input.files[0];

            if (file) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    preview.src = e.target.result;
                };

                reader.readAsDataURL(file);
            } else {
                preview.src = "/assets/images/add Image.jpg";
            }
        }
       
       
    
    </script>
    
</body>

</html>